// Base
@import './reset';
@import './variables';

html,
body,
#root {
  width: 100%;
  font-size: 16px;
}

body {
  font-family: var(--font-main);
  color: var(--primary);
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 300;
  line-height: 140%;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgba(249, 249, 249, 0.15);
  font-size: 1rem;
  text-align: center;
  color: var(--white);

  transition: all 0.3s;

  &:hover {
    filter: brightness(70%);
  }
}
